section
	
	input(id="#{viewname}-guid-input" type="hidden")

	paper-input-decorator(id="#{viewname}-title-decorator" label="#{viewmodel.title.label}" error="#{viewmodel.title.error}")
		input(id="#{viewname}-title-input" required is='core-input' type='text' on-input='{{input}}' on-blur='{{validate}}')
	
	section.page-container
		
		section(horizontal layout)
			paper-input-decorator(id="#{viewname}-phone-decorator" floatingLabel flex label="#{viewmodel.phone.label}" error="#{viewmodel.phone.error}")
				input(id="#{viewname}-phone-input" required is='core-input' type='tel' on-input='{{input}}' on-blur='{{validate}}')
			paper-icon-button(id="#{viewname}-phone-icon" self-center icon="perm-contact-cal" on-touchend='{{contacts}}')
		


		paper-input-decorator(id="#{viewname}-message-decorator" floatingLabel label="#{viewmodel.message.label}" error="#{viewmodel.message.error}")
			paper-autogrow-textarea(id="#{viewname}-message-autogrow" maxRows=6)
				textarea(id="#{viewname}-message-input" required on-blur='{{validate}}' on-input='{{input}}')
		
		paper-input-decorator(id="#{viewname}-date-decorator" floatingLabel labelVisible="false" label="#{viewmodel.date.label}" error="#{viewmodel.date.error}")
			input(id="#{viewname}-date-input" required is='core-input' type='date' on-input='{{input}}' on-blur='{{validate}}' value="")

		paper-input-decorator(id="#{viewname}-time-decorator" floatingLabel labelVisible="false" label="#{viewmodel.time.label}" error="#{viewmodel.time.error}")
			input(id="#{viewname}-time-input" required is='core-input' type='time' on-input='{{input}}' on-blur='{{validate}}')

		div.clear

		paper-input-decorator(id="#{viewname}-repeat-decorator" floatingLabel label="#{viewmodel.repeat.label}" error="#{viewmodel.repeat.error}")
			input(id="#{viewname}-repeat-input" on-tap='{{openRepeatDialog}}' disabled)